.category_item {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 95%;
}

.category_add {
    position: absolute;
    bottom: 5px;
    left: 5px;
    width: 95%;
}

.category_name {
    position: absolute;
    bottom: 40px;
    left: 5px;
    width: 95%;
}


.stroked {
    text-decoration: line-through;
}
